.modal {
  background-color: #fbfbfb;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.modal:backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-message {
  font-size: 2rem;
}

.modal-button {
  cursor: pointer;
  width: 80%;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: #fbfbfb;
  padding: 5px;
}

.modal-button:hover {
  background-color: hsl(0, 0%, 35%);
}
